@import 'https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap';

:root {
	--bg: #121212;
	--bg-2: #252525;
	--bg-3: #353535;
	--bg-4: #454545;
	--text: #fff;
	--text-2: #b844ff;
}

* {
	padding: 0;
	margin: 0;
	/* font-family: 'Nanum Brush Script', cursive; */
	font-family: 'Signika Negative', sans-serif;
}

body {
	background: var(--bg);
	color: var(--text);
}

.title {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
}
